<body>
<h1>This is the first assignment of EDISS</h1>
<h2>You can use any of the following POST api end points</h2>
<li>Login: /login</li>
<li>Logout: /logout</li>
<li>Add: /add</li>
<li>Divide: /divide</li>
<li>Multiply: /multiply</li>
</body>
